.category-bar {
  width: 20%;
}

.note-block {
  width: 80%;
}

.v-align {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.category-bar-button-block {
  height: 200px;
  width: 100%;
}

.add-btn {
  margin: 81px auto;
}

.category-button {
  border-radius: 5px !important;
}

.cardWidth {
  width: 18rem;
  float: left;
}

.clickableImage {
  cursor: pointer;
}
