<div class="full-height">
  <div class="category-bar border-right btn-group-vertical v-align full-height text-center">
    <div class="category-bar-button-block border-bottom text-center">
      <button class="btn btn-primary add-btn" (click)="addNote()">Add Note</button>
    </div>
    <div class="note-categories p-4 btn-group-vertical w-75">
      <button class="btn btn-secondary mb-2 category-button font-weight-bold" (click)="getMainNotes()">Main</button>
      <button class="btn btn-secondary mb-2 category-button font-weight-bold" (click)="getFavoritesNotes()">Favorites</button>
      <button *ngFor="let category of noteCategories.categories" class="btn btn-secondary mb-2 category-button">{{category}}</button>
      <button class="btn btn-primary add-btn category-button mt-3" (click)="openCategorySettings()">Categories Settings</button>
    </div>
  </div>
  <div class="note-block v-align full-height p-4" *ngFor="let note of notes.data">
   <div class="card cardWidth m-2">
      <img class="card-img-top" src="{{note.imagePath}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{note.header}}</h5>
        <p class="card-text">{{note.description}}</p>
      </div>
    </div>
  </div>
</div>
