<div class="container border-left border-right">
  <p class="mb-5 pt-5">
    Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития.
    Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.
    Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития.
    Таким образом новая модель организационной деятельности способствует подготовки и реализации систем массового участия.
    Товарищи! консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия.
  </p>
  <div class="card main-card">
    <h5 class="card-header text-center">To use the service register or log in</h5>
    <div class="card-body">
      <div class="row">
        <div class="col text-right my-4 text-center">
          <a [routerLink]="['/authorization']" class="btn btn-primary px-6 largeButton">Sign In</a>
        </div>
        <div class="col text-left my-4 text-center">
          <a [routerLink]="['/registration']" class="btn btn-primary px-6 largeButton">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
